<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center pb-2 mb-4 bb-1-grey">
            <div class="col-5 col-sm-12 col-md-8 font-weight-bold header-title">
              Client Listing
            </div>
            <div class="col-7 col-sm-4 text-right">
              <a href="javascript: void(0);" class="btn btn-danger font-weight-bold" (click)="openModal()"><i
                  class="mdi mdi-plus-circle mr-1"></i> Add Client</a>
            </div>
          </div>
          <div class="row mb-md-2">
            <app-ui-preloader [display]="loading"></app-ui-preloader>
            <!-- Search -->
            <div class="col-sm-12 col-md-12 text-right">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right">
                <label class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" placeholder="Client Name/Email" [(ngModel)]="searchTerm"
                    (keyup)="applyFilter($event.target.value)" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" /></label>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable" class="table dt-responsive nowrap">
              <thead>
                <tr>
                  <!-- <th sortable="id">ID</th> -->
                  <th sortable="clientname">Client Name</th>
                  <th sortable="emailid">Email Id</th>
                  <th sortable="phno">Phone Number</th>
                  <th sortable="status">Status</th>
                  <th sortable="action">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let table of tableData">
                  <td>
                    <ngb-highlight [result]="table?.clientName"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table?.invoiceMail"></ngb-highlight>
                  </td>
                  <td>
                    {{ table?.phoneNumber | phone: 'US' }}
                  </td>
                  <td>
                    <span class="badge bg-soft-{{
                        getStatusClass(table?.active)
                      }} text-{{ getStatusClass(table?.active) }}">{{ getStatus(table?.active) }}</span>
                  </td>
                  <td>
                    <a href="javascript:void(0);" class="action-icon" (click)="editClientdata(table, 'edit')"
                      placement="bottom" ngbTooltip="Edit Client">
                      <i class="mdi mdi-square-edit-outline"></i></a>
                    <a href="javascript:void(0);" class="action-icon" (click)="viewClientdata(table)" placement="bottom"
                      ngbTooltip="View Client Details">
                      <i class="mdi mdi mdi-eye-outline"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center " *ngIf="!tableData || tableData.length == 0">
            <h5 class="nodata">No data available</h5>
          </div>
          <!-- End table -->
          <!-- <div *ngIf="tableData"> -->
          <!-- Pagination -->
          <div class="row justify-content-md-between align-items-md-center mt-2" *ngIf="tableData">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite"
                *ngIf="totalSize > 0">
                Showing
                {{ (page - 1) * pageSize + 1 }} to
                {{
                  page - 1 >= totalSize / pageSize - 1
                    ? totalSize
                    : ((page - 1) * pageSize + pageSize | number: locale)
                }}
                of {{ totalSize }}
                entries
              </div>
            </div>

            <div class="col-sm-12 col-md-5 d-flex justify-content-end flex-wrap">
              <div class="select_box">
                <ng-select [items]="sizeOptions" bindLabel="name" bindValue="value" [clearable]="false"
                  [(ngModel)]="pageSize" (change)="changePagesize()" appendTo="body">
                </ng-select>
              </div>
              <div class="text-md-right pagination-rounded">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalSize" [maxSize]="1"
                  [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)">
                </ngb-pagination>
              </div>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>