<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">Change Password</h4>
  <button
    type="button"
    class="close text-white"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-left">
    <!-- <div class="text-center w-75 m-auto">
        <a routerLink="/account/login">
          <img src="assets/images/QI logo.png" alt="" height="75" />
        </a>
       
      </div> -->

    <form
      class="needs-validation mt-3"
      name="passwordForm"
      [formGroup]="passwordForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <app-ui-preloader [display]="loading"></app-ui-preloader>

      <!-- <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{
        error
      }}</ngb-alert> -->
      <!-- <ngb-alert
        type="success"
        class="text-preline"
        *ngIf="success"
        [dismissible]="false"
        >{{ success }}
      </ngb-alert> -->

      <!-- Old Password-->
      <div class="form-group" *ngIf="!success">
        <label for="password">Old Password</label>

        <input
          type="password"
          formControlName="oldPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"
          id="oldPassword"
          placeholder="Old Password"
        />

        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="f.oldPassword.errors.required">
            Old password is required
          </div>
          <!-- <div *ngIf="f.oldPassword.errors.minlength">
            Password should be minimum 6 digits
          </div>
          <div *ngIf="f.oldPassword.errors.maxlength">
            Password should be maximum 15 digits
          </div>
          <div *ngIf="f.oldPassword.errors.pattern">
            Password should contain atleast one special character: <>()$@$!%*?&
          </div> -->
        </div>
      </div>

      <!-- New Password -->
      <div class="form-group" *ngIf="!success">
        <label for="password">Password</label>

        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          id="password"
          placeholder="New Password"
        />

        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            New password is required
          </div>
          <div *ngIf="f.password.errors.minlength">
            Password should be minimum 6 digits
          </div>
          <div *ngIf="f.password.errors.maxlength">
            Password should be maximum 15 digits
          </div>
          <div *ngIf="f.password.errors.pattern">
            Password should contain atleast one special character: <>()$@$!%*?&
          </div>
        </div>
      </div>

      <!-- ReEnter Password -->
      <div class="form-group" *ngIf="!success">
        <label for="repassword">Re-enter Password</label>

        <input
          type="password"
          formControlName="repassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }"
          id="repassword"
          placeholder="Confirm Password"
        />
        <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
          <div *ngIf="f.repassword.errors.required">
            Confirm password is required
          </div>
          <div *ngIf="f.repassword.errors.mustMatch">
            Passwords must match
          </div>
        </div>
      </div>

      <div class="form-group mb-0 text-right" *ngIf="!success">
        <button class="btn btn-success" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<!-- end page -->
