<!-- <div class="modal-header bg-dark">
  <h4 class="modal-title text-white">{{heading}}</h4>
  <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div class="text-left mb-3">
   <div>Are you sure want to {{heading}}?</div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-sm btn-success" (click)="activeModal.dismiss('Cross click');passData('yes')">Yes</button>
    <button type="button" class="btn btn-sm btn-danger ml-1" (click)="activeModal.dismiss('Cross click');passData('cancel')">Cancel</button>
  </div>
</div> -->


<!-- <div class="modal-body p-3">
  <div class="text-left mb-3">
   <div>Are you sure want to {{heading}}?</div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-sm btn-success" (click)="activeModal.dismiss('Cross click');passData('yes')">Yes</button>
    <button type="button" class="btn btn-sm btn-danger ml-1" (click)="activeModal.dismiss('Cross click');passData('cancel')">Cancel</button>
  </div>
</div> -->

