<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">Add Overtime</h4>
  <button
    type="button"
    class="close text-white"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Modal body -->
<div class="modal-body p-3">
  <div class="text-left">
    <form (ngSubmit)="saveData()" [formGroup]="overtimeForm">
      <!-- row -->
      <div class="form-group col-md-12 row m-0 p-0 mb-2">
        <div class="col-md-4 col-sm-12">
          <label for="userName"
            >User Name<span class="text-danger">*</span></label
          >
          <ng-select
            class="ngSelect"
            [items]="selectUsers"
            required
            autofocus
            bindLabel="firstName"
            bindValue="id"
            formControlName="userName"
            [ngClass]="{ 'is-invalid': submitted && form.userName?.errors }"
          ></ng-select>
          <div
            *ngIf="submitted && form.userName?.errors"
            class="invalid-feedback"
          >
            <span *ngIf="form.userName?.errors.required"
              >This value is required.</span
            >
          </div>
        </div>
      </div>

      <!-- row -->
      <div class="form-group col-md-12 row m-0 p-0 mb-2">
        <div class="col-md-12 col-sm-12">
          <h5>Overtime</h5>
        </div>
      </div>

      <div class="form-group col-md-12 row m-0 p-0 mb-2">
        <div class="col-md-6 col-sm-12">
          <label for="startTime"
            >Start Time<span class="text-danger">*</span></label
          >
          <div class="ngx-timepicker-field-example form-control">
            <ngx-timepicker-field
              [format]="24"
              [clockTheme]="darkTheme"
              formControlName="startTime"
              [(ngModel)]="mintime"
              [ngClass]="{ 'is-invalid': submitted && form.startTime?.errors }"
            ></ngx-timepicker-field>
          </div>
          <!-- <input
            class="form-control"
            aria-label="24hr format"
            formControlName="startTime"
            placeholder="Enter Start Time"
            [ngxTimepicker]="startTime"
            [format]="24"
            readonly
            [(ngModel)]="mintime"
            [ngClass]="{ 'is-invalid': submitted && form.startTime?.errors }"
          />
          <ngx-material-timepicker
            #startTime
            [theme]="darkTheme"
            [enableKeyboardInput]="true"
          ></ngx-material-timepicker> -->

          <div
            *ngIf="submitted && form.startTime?.errors"
            class="invalid-feedback d-block"
          >
            <span *ngIf="form.startTime?.errors.required"
              >This value is required.</span
            >
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <label for="endTime"
            >End Time<span class="text-danger">*</span></label
          >
          <div class="ngx-timepicker-field-example form-control">
            <ngx-timepicker-field
              [format]="24"
              [clockTheme]="darkTheme"
              formControlName="endTime"
              [disabled]="mintime.length === 0 ? true : false"
              [ngClass]="{ 'is-invalid': submitted && form.endTime?.errors }"
            ></ngx-timepicker-field>
          </div>
          <!-- <input
            class="form-control"
            aria-label="24hr format"
            formControlName="endTime"
            placeholder="Enter End Time"
            [ngxTimepicker]="fullTime"
            [format]="24"
            readonly
            [min]="mintime"
            [disabled]="mintime.length === 0 ? true : false"
            [ngClass]="{ 'is-invalid': submitted && form.endTime?.errors }"
          />
          <ngx-material-timepicker
            #fullTime
            [theme]="darkTheme"
            [enableKeyboardInput]="true"
          ></ngx-material-timepicker> -->
          <div
            *ngIf="submitted && form.endTime?.errors"
            class="invalid-feedback d-block"
          >
            <span *ngIf="form.endTime?.errors.required"
              >This value is required.</span
            >
          </div>
        </div>
      </div>

      <!-- row -->
      <div class="form-group col-md-12 row m-0 p-0 mb-2">
        <div class="col-md-12 col-sm-12">
          <label class="mb-1 mt-3 font-weight-medium text-muted"
            >Log<span class="text-danger">*</span></label
          ><small>( Maximum limit is 225 characters )</small>

          <textarea
            #textarea
            class="form-control"
            formControlName="logComments"
            maxlength="225"
            rows="3"
            placeholder=""
            [ngClass]="{ 'is-invalid': submitted && form.logComments?.errors }"
          ></textarea>

          <div
            *ngIf="submitted && form.logComments?.errors"
            class="invalid-feedback"
          >
            <span *ngIf="form.logComments?.errors.required"
              >This value is required.</span
            >
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="text-right">
        <button type="submit" class="btn btn-success">
          Save<span
            class="spinner-border spinner-border-sm ml-1"
            aria-hidden="true"
            *ngIf="isloading"
          ></span>
        </button>
        <button
          type="button"
          class="btn btn-danger ml-1"
          (click)="activeModal.dismiss('Cross click')"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
