.skill-list {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background: transparent;
  margin-bottom: 0px;
}
.card-body {
  padding: 0.45rem 0.9rem;
}
.scroll-y {
  max-height: 56px;
  overflow-y: auto;
}
