<div class="modal-header bg-dark">
    <h4 class="modal-title text-white" id="modal-basic-title">Change Role</h4>
    <button type="button" class="close text-white" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Change Role</label>
        <div class="input-group">
          <ng-select class="ngSelect w-100" [items]="roles" required bindLabel="statusName"
           ></ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Save</button>
  </div>
